<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('./partials/style')%>

    <title>BLOGESH</title>
</head>
<body>
    <%- include('./partials/head')%>

    <div class="not-found content">
        <h2>Error - Page not Found</h2>
    </div>
</body>
</html>