<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('./partials/style')%>

    <title>Document</title>
</head>
<body>
    <%- include('./partials/head')%>

    <div class='about content'>
        <h2>this is about page</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam sint debitis cumque excepturi libero? Possimus in assumenda asperiores, aperiam eligendi unde natus laboriosam et reiciendis id dolore, voluptates dignissimos repellat.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error voluptatem beatae exercitationem aliquam maxime velit dignissimos, aut accusamus dolore quas ad, amet odit sed quidem iure! Quas quo id eveniet.</p>
    </div>


</body>
</html>